:host {
    display: flex;
    flex-direction: column;
    align-items: center;
}

// Box - Increment
.box-increment {
    max-width: 16rem;
    width: 100%;

    .buttons {
        display: flex;
        gap: 0.4rem;
        margin-top: 0.4rem;

        button {
            display: block;
            background-color: var(--transparent-gray-1);
            width: 100%;
            padding: 0.6rem;
            font-size: 1.1rem;
            transition: background-color 0.2s;

            &:hover { background-color: var(--transparent-gray-2); }
        }
    }
}