* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    --black: rgb(40, 40, 40);
    --white: rgb(240, 240, 240);
    --red-1: rgb(253, 0, 32);
    --red-2: rgb(203, 6, 36);

    background-color: var(--white);
    color: var(--black);

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
    color: var(--black);
}

ul {
    list-style: none;
}